In [154]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline  

import datetime

In [3]:
# import data from local files
global_mobility = pd.read_csv('../../data/raw_data/google_mobility.csv', header=0, names=[
    'country_code', 'country', 'region_1', 'region_2', 'date', 'retail_recreation', \
    'grocery_pharmacy', 'parks', 'transit', 'workplaces', 'residential'
], low_memory=False)
covid19_canada = pd.read_csv('../../data/raw_data/covid19_canada.csv', low_memory=False)
covid19_global = pd.read_csv('../../data/raw_data/covid19_global.csv', low_memory=False)
weather_ontario = pd.read_csv('../../data/raw_data/weather_ontario.csv', low_memory=False)

# import data from URLs
# global_mobility_url = pd.read_csv('https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv?cachebust=6d352e35dcffafce')
# covid19_canada_url = pd.read_csv('https://health-infobase.canada.ca/src/data/covidLive/covid19.csv')

In [4]:
global_mobility.head()

,country_code,country,region_1,region_2,date,retail_recreation,grocery_pharmacy,parks,transit,workplaces,residential
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [5]:
# pd.set_option('display.max_rows', canada_provinces_mobility.shape[0]+1)c
# pd.set_option('display.float_format', lambda x: '%.f' % x)

# Create data for Canada provinces

In [6]:
# create dataframe for Canada 
canada_mobility = global_mobility.loc[global_mobility.country_code == 'CA']

# drop 'region_2' because all values are NaN
canada_mobility = canada_mobility.drop('region_2', 1)

# export data 
canada_mobility.to_csv(path_or_buf='../../data/cleaned_data/canada_mobility.csv')

In [7]:
canada_mobility.head()

,country_code,country,region_1,date,retail_recreation,grocery_pharmacy,parks,transit,workplaces,residential
16799,CA,Canada,NaN,2020-02-15,4.0,2.0,10.0,3.0,1.0,0.0
16800,CA,Canada,NaN,2020-02-16,13.0,8.0,41.0,4.0,0.0,-2.0
16801,CA,Canada,NaN,2020-02-17,-12.0,-15.0,63.0,-28.0,-52.0,11.0
16802,CA,Canada,NaN,2020-02-18,-1.0,4.0,6.0,-1.0,-1.0,1.0
16803,CA,Canada,NaN,2020-02-19,1.0,1.0,9.0,0.0,0.0,0.0

In [8]:
# create dataframe for provinces in Canada

# drop 'Prince Edward Island' since there are no many missing values
non_provinces = [np.NaN, 'Northwest Territories', 'Nunavut', 'Yukon', 'Prince Edward Island']
non_provinces_bool = ~canada_mobility.region_1.isin(non_provinces) 
canada_provinces_mobility = canada_mobility[non_provinces_bool]

# drop rows that contain null values in 'parks' and 'transit' columns since they occupy less than 1% of the records
# filling null values with mean/median may not be a good idea 
# since we will be using insights from future data which will not be available at the time
canada_provinces_mobility.parks.isna().sum() / len(canada_provinces_mobility.parks)
canada_provinces_mobility.transit.isna().sum() / len(canada_provinces_mobility.transit)
canada_provinces_mobility = canada_provinces_mobility.dropna(subset=['parks', 'transit'])

# export data
canada_provinces_mobility.to_csv(path_or_buf='../../data/cleaned_data/canada_provinces_mobility.csv')

In [9]:
canada_provinces_mobility.tail()

,country_code,country,region_1,date,retail_recreation,grocery_pharmacy,parks,transit,workplaces,residential
18094,CA,Canada,Saskatchewan,2020-05-21,-12.0,20.0,80.0,-38.0,-39.0,13.0
18095,CA,Canada,Saskatchewan,2020-05-22,-21.0,8.0,83.0,-36.0,-37.0,12.0
18096,CA,Canada,Saskatchewan,2020-05-23,-24.0,6.0,68.0,-27.0,-14.0,6.0
18097,CA,Canada,Saskatchewan,2020-05-24,-19.0,3.0,197.0,-24.0,-16.0,3.0
18098,CA,Canada,Saskatchewan,2020-05-25,-13.0,11.0,151.0,-38.0,-39.0,10.0

# Create Google trends park data and Canada provinces park data

In [10]:
# import data
google_trends_park = pd.read_csv('../../data/raw_data/google_trends_park.csv')

# convert date to datetime
google_trends_park.date = pd.to_datetime(google_trends_park.date, infer_datetime_format=True)
google_trends_park = google_trends_park[google_trends_park.date <= '2020-05-25']

# export data
google_trends_park.to_csv(path_or_buf='../../data/cleaned_data/google_trends_park.csv')

Since Google trends does not provide daily data for the past 12 months and provides daily data for the past 90 days, we used the data of Google search trends for "park" for the past 90 days.

In [11]:
# create dataframe for Canada province park data

# drop unused columns
canada_provinces_park  = canada_provinces_mobility.drop(['country_code', 'country', 'retail_recreation', \
                                                         'grocery_pharmacy', 'transit', 'workplaces', 
                                                         'residential'], axis=1)

# group data by date
canada_provinces_park = canada_provinces_park.groupby('date').mean().reset_index()

# drop date before 2020-03-04 since Google trends data does not contain data before this date
canada_provinces_park = canada_provinces_park[canada_provinces_park.date >= '2020-03-04']

# export data
canada_provinces_park.to_csv(path_or_buf='../../data/cleaned_data/canada_provinces_park.csv')

# Standardize data for each category, region_1, date & Create social-distancing score for each date

In [12]:
# import data
canada_provinces_mobility = pd.read_csv('../../data/cleaned_data/canada_provinces_mobility.csv')

canada_provinces_mobility.head()

,Unnamed: 0,country_code,country,region_1,date,retail_recreation,grocery_pharmacy,parks,transit,workplaces,residential
0,16900,CA,Canada,Alberta,2020-02-15,7.0,3.0,24.0,7.0,-2.0,-1.0
1,16901,CA,Canada,Alberta,2020-02-16,10.0,-2.0,28.0,3.0,-3.0,-2.0
2,16902,CA,Canada,Alberta,2020-02-17,-7.0,-2.0,10.0,-40.0,-67.0,15.0
3,16903,CA,Canada,Alberta,2020-02-18,-1.0,1.0,-2.0,-9.0,-5.0,2.0
4,16904,CA,Canada,Alberta,2020-02-19,3.0,4.0,21.0,-7.0,-1.0,1.0

In [13]:
# Calculate mean and standard deviation for mobility score by provinces
mean_mobility_provinces = canada_provinces_mobility.groupby('region_1').mean().reset_index()
std_mobility_provinces = canada_provinces_mobility.groupby('region_1').std().reset_index()

In [14]:
# z-score
def standardize_data_z(province, category, i):
    canada_provinces_mobility.loc[canada_provinces_mobility.region_1 == province, category] = \
    (canada_provinces_mobility.loc[canada_provinces_mobility.region_1 == province, category] - \
    mean_mobility_provinces.loc[mean_mobility_provinces.region_1 == province, category][i]).\
    div(std_mobility_provinces.loc[std_mobility_provinces.region_1 == province, category][i]) \


def standardize_data_min_max(province, category):
#     min-max normalization between [-100, 100]
#     canada_provinces_mobility.loc[canada_provinces_mobility.region_1 == province, category] = \
#     (200 * (canada_provinces_mobility.loc[canada_provinces_mobility.region_1 == province, category] - \
#     min(canada_provinces_mobility.loc[canada_provinces_mobility.region_1 == province, category])) /\
#     (max(canada_provinces_mobility.loc[canada_provinces_mobility.region_1 == province, category]) - \
#     min(canada_provinces_mobility.loc[canada_provinces_mobility.region_1 == province, category])) - 100)
#     min-max normalization between [0, 100]
    canada_provinces_mobility.loc[canada_provinces_mobility.region_1 == province, category] = \
    100 * ((canada_provinces_mobility.loc[canada_provinces_mobility.region_1 == province, category] - \
    min(canada_provinces_mobility.loc[canada_provinces_mobility.region_1 == province, category])) / \
    (max(canada_provinces_mobility.loc[canada_provinces_mobility.region_1 == province, category]) - \
    min(canada_provinces_mobility.loc[canada_provinces_mobility.region_1 == province, category])))

In [15]:
std_mobility_provinces.loc[std_mobility_provinces.region_1 == 'Alberta', 'retail_recreation'][0]

21.427732562552603

In [16]:
provinces = ['Alberta', 'British Columbia', 'Manitoba', 'New Brunswick', 'Newfoundland and Labrador', \
             'Nova Scotia', 'Ontario', 'Quebec', 'Saskatchewan']
categories = ['retail_recreation', 'grocery_pharmacy', 'parks', 'transit', 'workplaces', 'residential']

In [17]:
# standardize data by z-score
i = 0
for province in provinces:
    for category in categories:
        standardize_data_z(province, category, i)
    i += 1

In [18]:
# create new feature Social Distancing Score for each row

# canada_provinces_mobility['s_d_score'] = -1 * (canada_provinces_mobility['parks']) + \
#                                                canada_provinces_mobility.iloc[:, -6:-5].sum(axis=1) + \
#                                                canada_provinces_mobility.iloc[:, -3:-2].sum(axis=1) + \
#                                                canada_provinces_mobility['residential']

# canada_provinces_mobility['s_d_score'] = canada_provinces_mobility.iloc[:, -6:-1].sum(axis=1)

canada_provinces_mobility['s_d_score'] = -1 * (canada_provinces_mobility.iloc[:, -6:-2].sum(axis=1)) + \
canada_provinces_mobility['residential']

In [19]:
# standardize data by min_max
i = 0
for province in provinces:
    for category in categories:
        standardize_data_min_max(province, 's_d_score')
        standardize_data_min_max(province, category)
    i += 1

In [20]:
canada_provinces_mobility = canada_provinces_mobility.drop(['country_code', 'country', 'Unnamed: 0'], axis=1)

# export data
canada_provinces_mobility.to_csv(path_or_buf='../../data/cleaned_data/standardized_mobility_data.csv')

# Create social distancing score for each province

In [21]:
# import data
mobility_data = pd.read_csv('../../data/cleaned_data/standardized_mobility_data.csv', parse_dates=['date'], \
                           index_col='Unnamed: 0')

# drop column
# mobility_data = mobility_data.drop(['Unnamed: 0.1'], axis=1)

In [22]:
mobility_data.columns

Index(['region_1', 'date', 'retail_recreation', 'grocery_pharmacy', 'parks',
       'transit', 'workplaces', 'residential', 's_d_score'],
      dtype='object')

In [23]:
mobility_data = mobility_data.groupby('region_1').mean().reset_index()
mobility_data.sort_values(by=['s_d_score'], axis=0, ascending=False)

,region_1,retail_recreation,grocery_pharmacy,parks,transit,workplaces,residential,s_d_score
5,Nova Scotia,40.390071,46.330935,19.816842,36.567797,47.271845,46.850000,54.441147
7,Quebec,48.888664,57.434910,33.172698,36.833790,49.097263,48.599717,51.190799
0,Alberta,47.741760,51.066797,26.170456,39.462518,54.832626,43.011066,48.758080
6,Ontario,48.262275,52.184576,31.873808,39.227292,50.547160,44.267848,47.899812
1,British Columbia,42.505501,41.526761,36.227812,35.939308,52.558750,48.958689,47.621814
8,Saskatchewan,49.504950,52.809567,30.488503,44.554455,58.210577,40.990099,44.244466
3,New Brunswick,53.307749,62.801791,30.116959,48.503236,53.611866,39.903846,42.924744
4,Newfoundland and Labrador,52.400389,53.128689,26.324238,43.799058,41.094620,41.296519,39.834350
2,Manitoba,58.290657,57.102056,27.572524,40.617633,60.373790,37.991513,38.410132

In [24]:
# round data to integers
for category in categories:
    mobility_data[category] = mobility_data[category].astype(int)
mobility_data['s_d_score'] = mobility_data['s_d_score'].astype(int)
    
# Rename columns
mobility_data = mobility_data.rename(columns={'region_1': 'Province', 's_d_score': 'Social Distancing Score', \
                             'retail_recreation': 'Retail & Recreation', \
                             'grocery_pharmacy': 'Grocery & Pharmacy', 'parks': 'Parks', \
                             'transit': 'Transit', 'workplaces': 'Workplaces',
                             'residential': 'Residential'})

# export data
mobility_data.to_csv(path_or_buf='../../data/cleaned_data/social_distancing_score_province.csv')

In [25]:
mobility_data

,Province,Retail & Recreation,Grocery & Pharmacy,Parks,Transit,Workplaces,Residential,Social Distancing Score
0,Alberta,47,51,26,39,54,43,48
1,British Columbia,42,41,36,35,52,48,47
2,Manitoba,58,57,27,40,60,37,38
3,New Brunswick,53,62,30,48,53,39,42
4,Newfoundland and Labrador,52,53,26,43,41,41,39
5,Nova Scotia,40,46,19,36,47,46,54
6,Ontario,48,52,31,39,50,44,47
7,Quebec,48,57,33,36,49,48,51
8,Saskatchewan,49,52,30,44,58,40,44

# Create dataset for modeling

In [30]:
# import data
modeling_data = pd.read_csv('../../data/cleaned_data/standardized_mobility_data.csv', parse_dates=['date'])

# drop unnecessary columns
modeling_data.drop(['Unnamed: 0', 'retail_recreation', 'grocery_pharmacy', 'parks', 'transit', 'workplaces', \
                    'residential'], axis=1, inplace=True)

In [143]:
# create data for the daily increase in the number of cases in Canada

# import data for the number cases in Canada
covid19_canada = pd.read_csv('../../data/raw_data/covid19_canada.csv')

# format date
covid19_canada.date = pd.to_datetime(covid19_canada.date, format='%d-%m-%Y')

# filter rows
covid19_canada = covid19_canada.loc[covid19_canada.pruid == 1]
covid19_canada = covid19_canada.loc[covid19_canada.date >= '2020-02-05']

# select columns
covid19_canada = covid19_canada[['date', 'numconf']]

# create new feature - number of increase compare to the day before
covid19_canada['New cases'] = covid19_canada.numconf - covid19_canada.numconf.shift(1, fill_value = 7)

# rename columns
covid19_canada = covid19_canada.rename(columns={'date': 'Date', 'numconf': 'Confirmed cases'})

In [144]:
covid19_canada

           Date  Confirmed cases  New cases
5    2020-02-08                7          0
8    2020-02-16                8          1
11   2020-02-21                9          1
14   2020-02-24               10          1
17   2020-02-25               11          1
20   2020-02-26               12          1
23   2020-02-27               13          1
26   2020-02-29               15          2
30   2020-03-01               24          9
34   2020-03-03               33          9
38   2020-03-05               45         12
42   2020-03-06               51          6
46   2020-03-07               57          6
51   2020-03-08               62          5
56   2020-03-09               77         15
71   2020-03-11              103         26
86   2020-03-12              138         35
101  2020-03-13              176         38
116  2020-03-14              193         17
131  2020-03-15              249         56
146  2020-03-16              324         75
161  2020-03-17              424        100
176  2020-03-18              569        145
191  2020-03-19              846        277
206  2020-03-20              971        125
221  2020-03-21             1302        331
236  2020-03-22             1430        128
251  2020-03-23             1646        216
266  2020-03-24             1959        313
281  2020-03-25             3385       1426
296  2020-03-26             4018        633
311  2020-03-27             4675        657
326  2020-03-28             5386        711
341  2020-03-29             6255        869
356  2020-03-30             7424       1169
371  2020-03-31             8536       1112
386  2020-04-01             9595       1059
401  2020-04-02            11268       1673
416  2020-04-03            12519       1251
431  2020-04-04            13882       1363
446  2020-04-05            15496       1614
461  2020-04-06            16653       1157
476  2020-04-07            17883       1230
491  2020-04-08            19274       1391
506  2020-04-09            20748       1474
521  2020-04-10            22133       1385
536  2020-04-11            23301       1168
551  2020-04-12            24365       1064
566  2020-04-13            25663       1298
581  2020-04-14            27046       1383
596  2020-04-15            28364       1318
611  2020-04-16            30081       1717
626  2020-04-17            31872       1791
641  2020-04-18            33341       1469
656  2020-04-19            34777       1436
671  2020-04-20            36823       2046
686  2020-04-21            38413       1590
701  2020-04-22            40179       1766
716  2020-04-23            42099       1920
731  2020-04-24            43877       1778
746  2020-04-25            45341       1464
761  2020-04-26            46884       1543
776  2020-04-27            48489       1605
791  2020-04-28            50015       1526
806  2020-04-29            51587       1572
821  2020-04-30            53225       1638
836  2020-05-01            55050       1825
851  2020-05-02            56703       1653
866  2020-05-03            59463       2760
881  2020-05-04            60761       1298
896  2020-05-05            62035       1274
911  2020-05-06            63485       1450
926  2020-05-07            64911       1426
941  2020-05-08            66423       1512
956  2020-05-09            67691       1268
971  2020-05-10            68837       1146
986  2020-05-11            69970       1133
1001 2020-05-12            71146       1176
1016 2020-05-13            72267       1121
1031 2020-05-14            73477       1210
1046 2020-05-15            74602       1125
1061 2020-05-16            75853       1251
1076 2020-05-17            76991       1138
1091 2020-05-18            78061       1070
1106 2020-05-19            79101       1040
1121 2020-05-20            80112       1011
1136 2020-05-21            81313       1201
1151 2020-05-22            82469       1156
1166 2020-05-23            83610       1141
1181 2020-05-24            84688       1078
1196 2020-05-25            85700       1012
1211 2020-05-26            86636        936
1226 2020-05-27            87508        872
1241 2020-05-28            88501        993
1256 2020-05-29            89407        906
1271 2020-05-30            90179        772
1286 2020-05-31            90936        757
1301 2020-06-01            91694        758
1316 2020-06-02            92399        705
1331 2020-06-03            92737        338

In [166]:
# create data for the daily increase in the number of cases around the world

# import data
covid19_globe = pd.read_csv('../../data/raw_data/covid19_global.csv')

# format date
covid19_globe.Date_reported = covid19_globe.Date_reported.str.slice(stop=10)

# rename columns
covid19_globe = covid19_globe.rename(columns={'Date_reported': 'Date', 'New_cases': 'New cases', \
                                              'New_deaths': 'New deaths', 'Cumulative_cases': 'Cumulative cases', \
                                              'Cumulative_deaths': 'Cumulative deaths'})

# group by date
covid19_globe = covid19_globe.groupby('Date').sum().reset_index()

# filter rows
covid19_globe = covid19_globe.loc[covid19_globe.Date >= '2020-02-15']

In [167]:
covid19_globe

           Date  New cases  Cumulative cases  New deaths  Cumulative deaths
35   2020-02-15       2732             67187         144               1527
36   2020-02-16       2090             69277         142               1669
37   2020-02-17       2161             71438         106               1775
38   2020-02-18       1993             73431          98               1873
39   2020-02-19       1856             75287         138               2011
40   2020-02-20        486             75773         118               2129
41   2020-02-21       1044             76817         120               2249
42   2020-02-22       1109             77926         113               2362
43   2020-02-23       1020             78946         101               2463
44   2020-02-24        619             79565         164               2627
45   2020-02-25        825             80390          83               2710
46   2020-02-26        927             81317          61               2771
47   2020-02-27       1376             82693          43               2814
48   2020-02-28       1431             84124          59               2873
49   2020-02-29       1827             85951          68               2941
50   2020-03-01       1880             87831          45               2986
51   2020-03-02       2296             90127          87               3073
52   2020-03-03       2293             92420          79               3152
53   2020-03-04       2197             94617          90               3242
54   2020-03-05       2726             97343         101               3343
55   2020-03-06       3911            101254         113               3456
56   2020-03-07       3809            105063          93               3549
57   2020-03-08       3931            108994         235               3784
58   2020-03-09       4332            113326         208               3992
59   2020-03-10       4460            117786         265               4257
60   2020-03-11       6315            124101         326               4583
61   2020-03-12       6682            130783         337               4920
62   2020-03-13      10153            140936         442               5362
63   2020-03-14      11793            152729         350               5712
64   2020-03-15      12472            165201         740               6452
65   2020-03-16      10749            175950         578               7030
66   2020-03-17      15523            191473         803               7833
67   2020-03-18      18365            209838         946               8779
68   2020-03-19      24256            234094        1061               9840
69   2020-03-20      32003            266097        1346              11186
70   2020-03-21      26069            292166        1598              12784
71   2020-03-22       1944            294110         160              12944
72   2020-03-23      40898            335008        1709              14653
73   2020-03-24      51862            386870        1941              16594
74   2020-03-25      29810            416680        1979              18573
75   2020-03-26      54655            471335        2551              21124
76   2020-03-27      41366            512701        2353              23477
77   2020-03-28      62724            575425        3151              26628
78   2020-03-29      62705            638130        3369              29997
79   2020-03-30      59160            697290        3218              33215
80   2020-03-31      57643            754933        3307              36522
81   2020-04-01      72471            827404        4190              40712
82   2020-04-02      72901            900305        4912              45624
83   2020-04-03      75944            976249        4790              50414
84   2020-04-04      79908           1056157        6716              57130
85   2020-04-05      80692           1136849        5749              62879
86   2020-04-06      77617           1214466        4811              67690
87   2020-04-07      68465           1282931        5009              72699
88   2020-04-08      73849           1356780        6685              79384
89   2020-04-09      82736           1439516        6325              85709
90   2020-04-10      84635           1524151        7231              92940
91   2020-04-11      90778           1614929        6946              99886
92   2020-04-12      84634           1699563        6250             106136
93   2020-04-13      77274           1776837        5692             111828
94   2020-04-14      71545           1848382        5389             117217
95   2020-04-15      73220           1921602        5909             123126
96   2020-04-16      76794           1998396        7908             131034
97   2020-04-17      81839           2080235       12532             143566
98   2020-04-18      84353           2164588        6536             150102
99   2020-04-19      78522           2243110        6901             157003
100  2020-04-20      70345           2313455        5261             162264
101  2020-04-21      83101           2396556        5238             167502
102  2020-04-22      72107           2468663        6495             173997
103  2020-04-23      72752           2541415        6779             180776
104  2020-04-24      80220           2621635        6442             187218
105  2020-04-25      89313           2710948        5747             192965
106  2020-04-26      85505           2796453        5955             198920
107  2020-04-27      87138           2883591        5228             204148
108  2020-04-28      73759           2957350        3813             207961
109  2020-04-29      66321           3023671        5378             213339
110  2020-04-30      72955           3096626        9859             223198
111  2020-05-01      85008           3181634        6399             229597
112  2020-05-02      90578           3272212        5741             235338
113  2020-05-03      83985           3356197        8626             243964
114  2020-05-04      85984           3442181        2859             246823
115  2020-05-05      82906           3525087        2090             248913
116  2020-05-06      70578           3595665        4125             253038
117  2020-05-07      83835           3679500        6520             259558
118  2020-05-08      88245           3767745        5413             264971
119  2020-05-09      94857           3862602        6464             271435
120  2020-05-10      89086           3951688        4605             276040
121  2020-05-11      88684           4040372        4690             280730
122  2020-05-12      81413           4121785        3524             284254
123  2020-05-13      75740           4197525        4332             288586
124  2020-05-14      82566           4280091        5037             293623
125  2020-05-15      88685           4368776        5313             298936
126  2020-05-16      92967           4461743        5274             304210
127  2020-05-17      95802           4557545        4647             308857
128  2020-05-18     103325           4660870        4546             313403
129  2020-05-19      74696           4735566        2885             316288
130  2020-05-20      90054           4825620        3579             319867
131  2020-05-21     102103           4927723        4870             324737
132  2020-05-22      91060           5018783        4480             329217
133  2020-05-23     107563           5126346        5317             334534
134  2020-05-24     104409           5230755        5054             339588
135  2020-05-25     102660           5333415        3527             343115
136  2020-05-26      88121           5421536        1067             344182
137  2020-05-27      94949           5516485        5598             349780
138  2020-05-28      96393           5612878        4363             354143
139  2020-05-29     111464           5724342        5008             359151
140  2020-05-30     116834           5841176        4898             364049
141  2020-05-31     116020           5957196        4277             368326
142  2020-06-01     124139           6081335        3752             372078
143  2020-06-02     113198           6194533        4242             376320
144  2020-06-03      77565           6272098        2724             379044

In [ ]:
# clean data for daily temperature and precipitation in Canada

# import data